* {
    padding: 0px;
    margin: 0px;
}


body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lastbg.jpg);
    background-size: cover;
    background-position: absolute;
    top: 0%;
    z-index: 0;
    overflow: hidden;
}

.bggif{
    background: url(../img/cc2d2a4b08b801879707231afbffdecf.gif);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 60%;
    z-index: 1;
}

.logo img {
    width: 15%;
    padding: 3% 7%;
}

.intro {
    color: azure;
    font-family: 'Mate SC';
    padding: 10%;
    font-size: 170%;
}

.intro h1 {
    margin-bottom: -5vh;
}

.intro h2 {
    margin-bottom: -5vh;
}

#red {
    margin-bottom: -5vh;
    color: red;

}

.gobtn {
    height: 50px;
    width: 110px;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -55px;
    z-index: 3;
    transition: 0.2s linear;
    text-decoration: none;
    overflow: hidden;
}

.gobtn ul li a {
    font-family: cursive;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
    margin-left: 5px;
    color: white;
    display: inline-block;
    text-decoration: none;
    list-style-type: square;
    z-index: 1;
    list-style:none;
    text-transform: uppercase;
    transition: 0.4s ;
    transition-delay: 0.6s;
}
.cover{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    z-index: 2;
}
.gobtn span{
    display: block;
    position: absolute;
    
}
span:nth-child(1){
    top: 0%;
    right: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgba(255,255,255,1),rgba(0,0,0,0.1));
    
}
.gobtn:hover span:nth-child(1){
    right: 200%;
    transition: 1s;
}

span:nth-child(2){
    top: -100%;
    left: 0%;
    height: 100%;
    width: 2px;
    background: linear-gradient(360deg, rgba(255,255,255,1),rgba(0,0,0,0.1)); 
}
.gobtn:hover span:nth-child(2){
    top: 200%;
    transition: 1s;
    transition-delay: 0.2s;
}


span:nth-child(3){
    bottom: 0%;
    left: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(to left, rgba(255,255,255,1),rgba(0,0,0,0.1));
    
}
.gobtn:hover span:nth-child(3){
    left: 200%;
    transition: 1s;
    transition-delay: 0.4s
}

span:nth-child(4){
    bottom: -100%;
    right: 0%;
    height: 100%;
    width: 2px;
    background: linear-gradient(180deg, rgba(255,255,255,1),rgba(0,0,0,0.1)); 
}
.gobtn:hover span:nth-child(4){
    bottom: 200%;
    transition: 1s;
    transition-delay: 0.6s;
}
.gobtn:hover a{
    color: black;
}
.gobtn:hover {
    background: white;
    transition-delay: 0.6s;
    box-shadow: 0px 0px 20px white, 0px 0px 40px white,0px 0px 80px white;
}

@media screen and (max-width: 900px) {
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lastbg.jpg);
        background-size: cover;
        background-attachment: fixed
    }

    .logo img {
        width: 190px;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bgast1MOB.png);
        background-size: cover;
        background-position: absolute;
        top: 0%;

    }

    .logo img {
        width: 180px;
    }

    .gobtn ul li a {
        font-family: "Mate SC";
        text-align: center;
    }

    .intro {
        color: azure;
        font-family: 'Mate SC';
        padding-left: 10%;
        font-size: 100%;
        position: absolute;
        top: 50%;
    }

    .intro h1 {
        margin-bottom: -15px;
    }

    .intro h2 {
        margin-bottom: -15px;
    }

    #red {
        margin-bottom: -;
        color: red;

    }

}
