* {
    padding: 0px;
    margin: 0px;
}


body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lastbg.jpg);
    background-size: cover;
    background-position: absolute;
    top: 0%;
    z-index: 0;
}

.bggif img {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 60%;

}

.logo img {
    width: 15%;
    padding: 3% 7%;
}

.intro {
    color: azure;
    font-family: 'Mate SC';
    padding: 10%;
    font-size: 170%;
}

.intro h1 {
    margin-bottom: -5vh;
}

.intro h2 {
    margin-bottom: -5vh;
}

#red {
    margin-bottom: -5vh;
    color: red;

}

.gobtn {
    animation: shakeY 3s ease infinite;
    animation-delay: 2s;
    height: 50px;
    width: 90px;
    position: absolute;
    top: 85%;
    left: 50%;
    margin-left: -45px;
    
    border: 3px solid white;
    border-radius: 5px;
    transition: 0.7s linear;
    text-decoration: none;
}

.gobtn ul li a {
    font-family: cursive;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
    margin-left: 10px;
    color: white;
    display: inline-block;
    text-decoration: none;
    list-style-type: square;
    z-index: 1;
    list-style:none;
}

.gobtn ul li a span {
    height: 100%;
    width: 0%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: -1;
    border-radius: 5px;
    transition: 0.3s linear;
}

.gobtn:hover span {
    width: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.gobtn:hover {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border: 1px solid red;
    color: white;
}

.gobtn:hover a {
    color: white;
    text-decoration: none;
    list-style: none;
}

@media screen and (max-width: 900px) {
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lastbg.jpg);
        background-size: cover;
        background-attachment: fixed
    }

    .logo img {
        width: 190px;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bgast1MOB.png);
        background-size: cover;
        background-position: absolute;
        top: 0%;

    }

    .logo img {
        width: 180px;
    }

    .gobtn ul li a {
        font-family: "Mate SC";
        text-align: center;
    }

    .intro {
        color: azure;
        font-family: 'Mate SC';
        padding-left: 10%;
        font-size: 100%;
        position: absolute;
        top: 50%;
    }

    .intro h1 {
        margin-bottom: -15px;
    }

    .intro h2 {
        margin-bottom: -15px;
    }

    #red {
        margin-bottom: -;
        color: red;

    }

}
