*{
    margin: 0x;
    padding: 0px;
    
}

#homepage{
    background: #060C00;
    height: 100vh;
    border: 5px solid;
    border-image: url(rgb%20border.gif)1;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    transition: 0.3s linear;
    position: relative;
}
.sq1{
    
    height: 40px;
    width:40px;
    background-color: #8f00f1;
    position: absolute;
    top:10%;
    left:20%;
    animation: rotate 10s ease both infinite;
}
.sq2{
    z-index: 1;
    height: 30px;
    width:30px;
    background-color: #fffc00;
    position: absolute;
    top:67% ;
    left:64%;
    animation: rotate 9s linear reverse both infinite;
}
.sq3{
    z-index: 1;
    height:20px;
    width:20px;
    background-color: #08ff08;
    position: absolute;
    top:23% ;
    left:84%;
    animation: rotate 15s ease both infinite;
}
.sq4{
    z-index: 1;
    height: 20px;
    width:20px;
    background-color: #01f9c6;
    position: absolute;
    top:40%;
    left:48%;
    animation: rotate 7s ease both infinite;
}
.sq5{
    height: 45px;
    width:45px;
    background-color: #ff0490;
    position: absolute;
    top: 85%;
    left:35%;
    animation: rotate 20s ease both infinite;
}
.logo{
    position: absolute;
    top: 7%;
    left:50%;
    transform: translate(-50%,-50%);
}
.logo:hover h2{
    background:red;
    -webkit-text-stroke: 0px red;
    -webkit-background-clip: text;
}
.logo h2{
    background:url(rgb%20border.gif);
    font-family: 'Orbitron';
    color: transparent;
    font-size: 35px;
    -webkit-text-stroke: 0px red;
    -webkit-background-clip: text;
}
.logo h2:after, .logo h2:before{
        display: block;
        content: 'Zywfo';
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        opacity: .8;
    }
.logo h2:after{
    color: #0ff;
    z-index: -1;
    animation: glitch 0.2s cubic-bezier(.25, .46, .45, .94) both infinite;
    animation-delay: 2s;
}
.logo h2:before{
    color: #f0f;
    z-index: -2;
    animation: glitch .7s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
}

.qoute{
    height: auto;
    width: auto;
    color: white;
    font-size: 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 25%;
    font-family: 'Orbitron';
}
#work{
    color: red;
    font-size: 70px;
    text-align: left;
    text-shadow: 0 0 7px white,0 0 10px red,0 0 2px red,0 0 5px red;
}
#do{
    color: greenyellow;
    font-size: 70px;
    text-align: left;
    text-shadow: 0 0 10px green,0 0 10px yellowgreen,0 0 2px white,0 0 10px white;
    text-decoration: underline yellowgreen 5px;
    
}
.dont{
    text-decoration: overline
}
.qoute h1{
    line-height: 100%;
    text-align: left;
    font-weight: bolder;
    text-shadow: 0 0 10px white,0 0 10px white,0 0 2px lightblue,0 0 5px #0ff;
}



@keyframes glitch{
    0% {
        transform: translate(0)
    }
    20% {
        transform: translate(-3px, 3px);
        color: #b76cfd;
    }
    40% {
        transform: translate(-3px, -3px);
        color: #ff2281;
    }
    60% {
        transform: translate(3px, 3px);
        color: #fdc7d7;
    }
    80% {
        transform: translate(3px, -3px);
        color: #e8ef00;
    }
    to {
        transform: translate(0)
    }
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);

    }
    10%{
        transform: rotate(180deg);
        
    }
    15%{
        transform: rotate(355deg),;
    }
    30%{
        transform: rotate(0deg);
        transform: translate(-1000px,5px);
        
    }
    80%{
        transform: rotate(0deg);
    }
    85%{
        transform: rotate(180deg);
    }
    95%{
        transform: rotate(360deg);
        transform: translate(100px,5px);
    }
    to{
        transform: rotate(0deg);
        transform: translate(0px,0px);
    }
}



    
@media  screen and (max-width:800px)
{
    .logo h2{
        font-size: 35px; 
    }
    .logo{
    position: absolute;
    top: 4%;
    left:50%;
}
    .qoute{
    top: 40%;
    left: 25%;  
}
    .qoute h1{
        font-size: 25px;
    }
    #work{
        font-size: 50px;
    }
    #do{
        font-size: 50px;
    }
    .sq1{
    
    height: 20px;
    width:20px;
}
.sq2{
    z-index: 1;
    height: 15px;
    width:15px;
}
.sq3{
    z-index: 1;
    height:10px;
    width:10px;
}
.sq4{
    z-index: 1;
    height: 10px;
    width:10px;
}
.sq5{
    height: 25px;
    width:25px;
}
}
    
@media  screen and (max-width:500px)
{
    .logo h2{
        font-size: 25px; 
    }
    .qoute{
    top: 50%;
    left: 40%;  
}
    .qoute h1{
        font-size: 15px;
    }
    #work{
        font-size: 30px;
    }
    #do{
        font-size: 30px;
    }
}
    
#indev{
    color: red;
    position: absolute;
    top: 90%;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
