* {
    padding: 0px;
    margin: 0px;
    font-family: 'ZCOOL KuaiLe', cursive;
}

body {
    background-color: #082403;
}

.topui {
    height: 70px;
    border-bottom: 1px solid green;
    border-radius: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(45, 86, 0))
}

.logo {
    float: left;
    color: #2DFF4B;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    padding: 15px 20px;

}

.btn {
    float: right;
}

.btn ul li {
    display: inline-block;
    color: #2DFF4B;
    padding: 25px 30px;
    overflow: hidden;
    transition: 0.5s ease;
    cursor: pointer
}

.btn ul li a {
    font-size: 10px;
    text-decoration: none;
}

.upword {
    color: #2DFF4B;
    font-family: cursive;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;

}

.word {
    height: 70px;
    width: 510px;
    font-size: 70px;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 1px #2DFF4B;
    background: url(lightning1.png);
    -webkit-background-clip: text;
    animation: anime 9s linear infinite;
}

.btn ul li:hover {
    color: indianred;
    font-size: 15px;
}


@keyframes anime {
    0% {
        background-position: 650px 0px;
    }

    100% {
        background-position: -1900px 0px;
    }
}
